* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 30px;
}

.resume-title {
    color: magenta;
}

h1, h2, h3, h5, h6 {
    color: magenta;
}

h4 {
    color: blue;
}

table.skills {
    padding-left: 50px;
}
table.skills td.skill-type {
    padding-right: 3em;
}
.name {
    padding-left: 45em;
}

.section {
    margin-top: 20px;
}

.about-section .about-sub-section.about-address {
    text-align: left;
}
.about-section .about-sub-section.about-phone {
    text-align: center;
}
.about-section .about-sub-section.about-email {
    text-align: right;
}
